<!-- Nested Row within Card Body -->
<div class="row">
  <div class="col-lg-12">
    <div class="p-5">

      <div class="card p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
          <p class="mb-4">Enter your email address below and we'll send you a link to reset your password!</p>
        </div>
        <form class="user" (ngSubmit)="onPasswordReset()" [formGroup]="form">

          <!-- Email-->
          <div class="form-group">
            <input id="email" type="text" class="w-100" name="email" placeholder="Enter email"
                   [ngClass]="{'is-invalid': form.get('email').invalid}"
                   pInputText
                   formControlName="email"/>
            <div *ngIf="(form.get('email').dirty ||
              form.get('email').touched) &&
              form.get('email').getError('required')" class="invalid-feedback">
              Email is required.
            </div>
            <div *ngIf="(form.get('email').dirty ||
              form.get('email').touched) &&
              form.get('email').getError('pattern')" class="invalid-feedback">
              Invalid email.
            </div>
          </div>

          <button pButton type="submit" label="Password Reset" class="ui-button-primary w-100"
                  [disabled]="form.invalid || isSubmitted"></button>
        </form>
        <hr>
        <div class="text-center">
          <a class="small"  [routerLink]="['/auth', 'signup']">Create an Account!</a>
        </div>
        <div class="text-center">
          <a class="small"  [routerLink]="['/auth', 'login']">Already have an account? Login!</a>
        </div>
      </div>

    </div>
  </div>
</div>
