<p-steps class="review-steps" [model]="questions" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>

<div [formGroup]="reviewForm">
  <p-tabView class="review-tabview" [activeIndex]="activeIndex">
    <p-tabPanel>
      <app-exercise-one [math]="selectedMath[0]" [parentFormGroup]="reviewForm" [control]="'q1'" (nextStepEmitter)="nextStep($event)"></app-exercise-one>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-two [math]="selectedMath[1]" [parentFormGroup]="reviewForm" [control]="'q2'" (nextStepEmitter)="nextStep($event)"></app-exercise-two>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-three [math]="selectedMath[2]" [parentFormGroup]="reviewForm" [control]="'q3'" (nextStepEmitter)="nextStep($event)"></app-exercise-three>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-three [math]="selectedMath[3]" [parentFormGroup]="reviewForm" [control]="'q4'" (nextStepEmitter)="nextStep($event)"></app-exercise-three>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-four [math]="selectedMath[4]" [parentFormGroup]="reviewForm" [control]="'q5'" (nextStepEmitter)="nextStep($event)"></app-exercise-four>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-four [math]="selectedMath[5]" [parentFormGroup]="reviewForm" [control]="'q6'" (nextStepEmitter)="nextStep($event)"></app-exercise-four>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-one [math]="selectedMath[6]" [parentFormGroup]="reviewForm" [control]="'q7'" (nextStepEmitter)="nextStep($event)"></app-exercise-one>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-two [math]="selectedMath[7]" [parentFormGroup]="reviewForm" [control]="'q8'" (nextStepEmitter)="nextStep($event)"></app-exercise-two>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-three [math]="selectedMath[8]" [parentFormGroup]="reviewForm" [control]="'q9'" (nextStepEmitter)="nextStep($event)"></app-exercise-three>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-three [math]="selectedMath[9]" [parentFormGroup]="reviewForm" [control]="'q10'" (nextStepEmitter)="nextStep($event)"></app-exercise-three>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-four [math]="selectedMath[10]" [parentFormGroup]="reviewForm" [control]="'q11'" (nextStepEmitter)="nextStep($event)"></app-exercise-four>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-four [math]="selectedMath[11]" [parentFormGroup]="reviewForm" [control]="'q12'" (nextStepEmitter)="nextStep($event)"></app-exercise-four>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-one [math]="selectedMath[12]" [parentFormGroup]="reviewForm" [control]="'q13'" (nextStepEmitter)="nextStep($event)"></app-exercise-one>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-two [math]="selectedMath[13]" [parentFormGroup]="reviewForm" [control]="'q14'" (nextStepEmitter)="nextStep($event)"></app-exercise-two>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-three [math]="selectedMath[14]" [parentFormGroup]="reviewForm" [control]="'q15'" (nextStepEmitter)="nextStep($event)"></app-exercise-three>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-three [math]="selectedMath[15]" [parentFormGroup]="reviewForm" [control]="'q16'" (nextStepEmitter)="nextStep($event)"></app-exercise-three>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-four [math]="selectedMath[16]" [parentFormGroup]="reviewForm" [control]="'q17'" (nextStepEmitter)="nextStep($event)"></app-exercise-four>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-four [math]="selectedMath[17]" [parentFormGroup]="reviewForm" [control]="'q18'" (nextStepEmitter)="nextStep($event)"></app-exercise-four>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-one [math]="selectedMath[18]" [parentFormGroup]="reviewForm" [control]="'q19'" (nextStepEmitter)="nextStep($event)"></app-exercise-one>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-two [math]="selectedMath[19]" [parentFormGroup]="reviewForm" [control]="'q20'" (nextStepEmitter)="nextStep($event)"></app-exercise-two>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-three [math]="selectedMath[20]" [parentFormGroup]="reviewForm" [control]="'q21'" (nextStepEmitter)="nextStep($event)"></app-exercise-three>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-three [math]="selectedMath[21]" [parentFormGroup]="reviewForm" [control]="'q22'" (nextStepEmitter)="nextStep($event)"></app-exercise-three>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-four [math]="selectedMath[22]" [parentFormGroup]="reviewForm" [control]="'q23'" (nextStepEmitter)="nextStep($event)"></app-exercise-four>
    </p-tabPanel>
    <p-tabPanel>
      <app-exercise-four [math]="selectedMath[23]" [parentFormGroup]="reviewForm" [control]="'q24'" (nextStepEmitter)="nextStep($event)"></app-exercise-four>
    </p-tabPanel>

    <p-tabPanel>
      <app-result [results]="result" [score]="score"></app-result>
    </p-tabPanel>
  </p-tabView>

</div>
