<div class="p-grid p-justify-between mb-4">
  <div class="p-col-8">
    <h3 class="mb-0 text-gray-800">{{lesson?.title}}</h3>
  </div>
  <div class="p-col-4 text-right">
    <button pButton [routerLink]="['']" class="ui-button-secondary" label="Back to Dashboard"></button>
  </div>
</div>

<div class="p-grid mb-5">

  <div class="p-col-12">

    <p-tabView>
      <p-tabPanel header="Theory" [selected]="true" [disabled]="isReviewActive">
        <div [innerHTML]="lesson?.content"></div>
      </p-tabPanel>
      <p-tabPanel header="Mini Review" [disabled]="!isReviewActive">

        <app-mini-review [lessonId]="lesson?._id" [numberOfExercises]="5" [forNumber]="actualNumber"></app-mini-review>

      </p-tabPanel>
    </p-tabView>

  </div>

</div>

