.review-steps .ui-state-complete .ui-menuitem-link .ui-steps-number{
  background-color: green !important;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #bcc200;
  color: #ef0a0a;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

//.review-steps .ui-state-highlight{
//  background: #343a40;
//
//}
//.review-steps .ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link {
//  color:#fff;
//}
//.review-steps .ui-steps .ui-steps-item.ui-state-disabled {
//  background: #ddd;
//}
//.review-steps .ui-steps .ui-steps-item.ui-state-disabled .ui-menuitem-link {
//  color: green;
//}

//.ui-steps .ui-steps-item {
//  width: 25%;
//}
//
//.ui-steps.steps-custom {
//  margin-bottom: 30px;
//}
//
//.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
//  padding: 0 1em;
//  overflow: visible;
//}
//
//.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
//  background-color: #0081c2;
//  color: #FFFFFF;
//  display: inline-block;
//  width: 36px;
//  border-radius: 50%;
//  margin-top: -14px;
//  margin-bottom: 10px;
//}
//
//.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
//  color: #555555;
//}
