<div class="row">
  <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
  <div class="col-lg-7">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
      </div>
      <form class="user" (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <input id="password" class="w-100" type="password" name="password" placeholder="Enter password"
                   pInputText
                   formControlName="password" />
          </div>
          <div class="col-sm-6">
            <input id="password-confirm" class="w-100" type="password" name="password-confirm" placeholder="Confirm password"
                   pInputText
                   formControlName="confirmPassword" />
          </div>
        </div>
        <button pButton type="submit" label="Update Password" class="ui-button-primary w-100"></button>
      </form>
      <hr>
      <div class="text-center">
        <a class="small" [routerLink]="['..', 'login']">Back to login!</a>
      </div>
    </div>
  </div>
</div>
