<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <h4 class="text-primary"><a [routerLink]="['']">Multiplication eLearning</a></h4>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <ng-container *ngIf="currentUser?.role === 'teacher'">

      <li class="nav-item dropdown no-arrow">
        <a class="nav-link" [routerLink]="['/admin', 'students']" role="button">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Students</span>
        </a>
      </li>

      <li class="nav-item dropdown no-arrow">
        <a class="nav-link" [routerLink]="['/admin', 'lessons']" role="button">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Lessons</span>
        </a>
      </li>

      <li class="nav-item dropdown no-arrow">
        <a class="nav-link" role="button" style="cursor: pointer">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small" (click)="showHelp('teacher')">Help</span>
        </a>
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>

    </ng-container>

    <ng-container *ngIf="currentUser?.role === 'student'">

      <li class="nav-item dropdown no-arrow">
        <a class="nav-link" role="button" style="cursor: pointer">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small" (click)="showHelp('student')">Help</span>
        </a>
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>

    </ng-container>

    <!-- Nav Item - User Information -->
    <li *ngIf="currentUser" class="nav-item dropdown no-arrow">
      <a class="nav-link" id="user" role="button">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{currentUser?.firstName}} {{currentUser?.lastName}}</span>
      </a>
    </li>

    <div *ngIf="currentUser" class="topbar-divider d-none d-sm-block"></div>

    <li *ngIf="currentUser" class="nav-item dropdown no-arrow">
      <a class="nav-link" [routerLink]="['/auth', 'logout']" id="logout" role="button">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Logout</span>
      </a>
    </li>

  </ul>

</nav>


<app-help-student [showHelp]="displayHelp" (closeHelpEvent)="closeHelp()"></app-help-student>
<app-help-teacher [showHelp]="displayHelp" (closeHelpEvent)="closeHelp()"></app-help-teacher>
