<div id="wrapper">

  <div id="content-wrapper">

    <app-header></app-header>

    <div class="layout-main">

      <div class="p-grid mb-5">

        <div class="p-col p-sm-1 p-md-6 p-lg-8">
          <div class="w-100 text-center">
            <img src="assets/img/tree.jpg" alt="tree" class="" style="position: relative; max-height: 80vh">
          </div>
        </div>

        <div class="p-col p-sm-12 p-md-6 p-lg-4">
          <router-outlet></router-outlet>
        </div>

      </div>

      <app-footer></app-footer>

      <div class="layout-main-mask"></div>
    </div>

  </div>

</div>

