<div class="p-grid p-justify-between mb-4">
  <div class="p-col-6">
    <h3 class="mb-0 text-gray-800">Dashboard</h3>
  </div>
</div>

<div class="p-grid p-justify-between mb-2">
  <div class="p-col-6">
    <h6 class="mb-0 text-gray-600">Lessons</h6>
  </div>
</div>

<div class="p-grid mb-5">

  <div *ngFor="let lesson of lessons" class="p-col-3">
    <button class="btn w-100" (click)="openLink(lesson.url)"
       [disabled]="getLessonStatus(lesson._id, lesson.order) === 'dark'">
      <div class="card shadow h-100 py-2" style="min-height: 190px"
           [ngClass]="'border-left-'+getLessonStatus(lesson._id, lesson.order)">
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <h3 class="font-weight-bold text-uppercase mb-3"
                  [ngClass]="'text-'+getLessonStatus(lesson._id, lesson.order)">{{lesson.title}}</h3>
              <div class="text-md-center mb-1">Score:</div>
              <h4 class="font-weight-bold text-uppercase mb-1"
                   [ngClass]="'text-'+getLessonStatus(lesson._id, lesson.order)">{{getLessonScore(lesson._id)}}</h4>
            </div>
            <div class="col mr-2">
              <img [src]="'assets/img/animals/'+lesson.url+'.png'" [ngClass]="{'grayscale': (getLessonStatus(lesson._id, lesson.order) !== 'success')}" alt="animal">
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </button>
  </div>

</div>

