/* You can add global styles to this file, and also import other style files */
.review-steps .ui-state-complete .ui-menuitem-link .ui-steps-number{
  background-color: #d5d5d5 !important;
  pointer-events: none;
}

.review-tabview .ui-tabview-nav {
display: none;
}

.review-tabview .ui-tabview-panels {
  max-width: 550px;
  text-align: center;
  margin: auto;
}

.review-tabview .ui-tabview-panel {
  font-family: 'Balsamiq Sans', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
}

.review-tabview p-selectButton .ui-button {
  font-family: 'Balsamiq Sans', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
}

img.grayscale {
  filter: grayscale(100%);
}

.no-cursor {
  cursor: auto !important;
}
